{% if not EntetePiedFalse and not notlogo %}
<div id="pied">
    <div class="content">
        <div id="print_button"></div>
        <img src="/images/CICDLogo.jpg" style="width: 30px;" alt="logo CICD" id="logopied">
    </div>
    <div class="content">
        <span
            style="cursor: help"
            title="Version {{ session(["MYREPORT_VERSION"]) }} du {{ env("APP_BUILD_DATE") | date("d/m/Y") }}"
        >
            CICD - My Report - v. {{ session(["MYREPORT_VERSION"]) }}
        </span>
    </div>
    <div class="content">
        <div class="noprint OLD_PRINT">
            <a style="text-decoration: none" href="#" onclick="window.print()">
                <img src="/images/imp.png" alt="logo imprimante" style="width: 20px"/>
                Imprimer
            </a>
        </div>
    </div>
</div>
{% endif %}

<div id="myunload"
    style="display: none; position:fixed; left: 50%; top:50%; border: 1px solid black; background-color: #fff; padding:20px;">
    <p style="vertical-align: middle; text-align: center;">
        <b>Chargement en cours...</b>
        <br/><br/><br/>
        <img src='/images/rouegrise.gif' alt="loader"/>
    </p>
</div>


</div><!-- ne pas toucher à ce div et ne rien mettre aprés pour extjs -->
